<div class="row">        <!-- days 1 and 2 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 : 15th March (09:30 - 16:30)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="5" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/workflows-nextflow/">Introduction to Nextflow </a></td>
        <td>Getting Started with Nextflow</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Workflow parameterization</td>
      </tr>
      <tr>               <!-- row 4   -->
        <td>Channels</td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>Processes 1/2</td>
      </tr>
      <tr>               <!-- row 6   -->
        <td>Operators</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td colspan="2" style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:30 - 13:30</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 : 16th March (09:30 - 16:30)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="6" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/workflows-nextflow/">Introduction to Nextflow</a></td>
        <td>Workflow</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Nextflow Configuration</td>
      </tr>
      <tr>               <!-- row 4   -->
        <td>Reporting</td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>Checkpointing and Caching</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>Simple RNA-Seq pipeline</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>Deploying nf-core pipelines</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td colspan="2" style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:00 - 13:00</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
